<template>
<div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
  Ajouter une tache
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal fenêtre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="names">Nom de la tache</label>
                <textarea v-model="name" placeholder="Enregistrer la tache ici 👇" name="names" class="form-control" id="names"  rows="4"></textarea>
            </div>
            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button class="btn btn-success" @click="taskStore">Créer ma tâche</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
export default{

    data(){
        return {
            name: ''
        }
    },
    methods:{
        taskStore(){
                axios
                .post('http://localhost:8000/addnewtask',{ name: this.name})
                .then(reponse => this.$emit('task-added', reponse))
                .catch(error => console.log(error))
                this.name=''
        },
        

    }
}
</script>