<template>
<div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Modifiction de la tache </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Nom de la tache</label>
                <textarea v-model="EditToTask.name" placeholder="Modifier votre tache ici 👇" name="name" class="form-control" id="name"  rows="4"></textarea>
            </div>
            
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button class="btn btn-success" @click="update" data-dismiss="modal" >Enregistrer</button>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    export default{
        props:['EditToTask'],

        methods:{
           update(){
               axios
                .patch('http://localhost:8000/task/edit/'+ this.EditToTask.id, {name: this.EditToTask.name})
                .then(reponse => this.$emit('task-updated', reponse))
                .catch(error => console.log(error))
           }
        }

    }
</script>