<template>
    <div class="container">
        <div class="form-row mb-3">
            <div class="col-row">
                <input v-model="q" @keyup="research" placeholder="rechercher une tâche ..." type="text" class="form-control">
            </div>
        </div>
        <add-task @task-added="refresh"></add-task>
           <ul class="list-group">
               <li class="list-group-item d-flex justify-content-between align-items-center" v-for="tas in tasks.data" :key="tas.id"><a href="#">{{ tas.name }}</a>
              <div>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editModal" @click="getTask(tas.id)">
                Editer
                </button>
                <button type="button" class="btn btn-danger" @click="deleteTask(tas.id)">Supprimer</button>
              </div>
               </li>
                <edit-task v-bind:EditToTask="EditToTask" @task-updated="refresh"></edit-task>
           </ul>
           <pagination :data="tasks" @pagination-change-page="getResults" class="mt-5"></pagination>
    </div>
</template>

<script>

    export default {
        
        data(){
            return {
                tasks:{},
                EditToTask:'',
                q:''
            }
        },
        created(){
            axios
                .get('http://localhost:8000/tasksliste')
                .then(response => this.tasks= response.data)
                .catch(error => console.log(error));
        },
        methods:{
            // Our method to GET results from a Laravel endpoint
            getResults(page = 1) {
                axios
                    .get('http://localhost:8000/tasksliste?page=' + page)
                    .then(response => {
                        this.tasks = response.data;
                    });
            },
           
            getTask(id){
                axios
                    .get('http://localhost:8000/task/edit/'+ id)
                    .then(response => this.EditToTask = response.data)
                    .catch(error => console.log(error))
            },
            deleteTask(id){
                    axios
                        .delete('http://localhost:8000/task/delete/'+ id)
                        .then(reponse => this.tasks = reponse.data)
                        .catch(error => console.log(error))
            },
            refresh(tasks){
                this.tasks = tasks.data
            },
            research(){
               if (this.q.length > 3) {
                   axios
                    .get('http://localhost:8000/tasksliste/' + this.q)
                    .then(response => this.tasks = response.data)
                    .catch(error => console.log(error))
               }else{
                   axios
                   .get('http://localhost:8000/tasksliste')
                   .then(response => this.tasks = response.data)
                   .catch(error => console.log(error))
               }
            }
	    },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
